.body {
  background-image: linear-gradient(to left, #85bac1 0%, #93c5ff 100%);
}
.login {
  display: grid;
  height: 100vh;
  place-items: center;
}
.login__container {
  width: 350px;
  padding: 1.875rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
}
.login__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.login__image {
  width: 100px;
}
.login__title {
  text-align: center;
  margin-bottom: 1.25rem;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}
.forms__camp {
  position: relative;
  height: 45px;
  width: 100%;
}
.forms__input {
  padding: 0 0.875rem;
  border-radius: 0.625rem;
  border: 1px solid #cacaca;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  outline: none;
}
.forms__href {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  /* margin-top: 1rem; */
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}
.forms__href:hover {
  color: #0c5df4;
}
.forms__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms__button--content {
  display: block;
  border-radius: 10px;
  padding: 0.9375rem;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  background-color: #0c5df4;
  cursor: pointer;
  transition: 0.3s;
}
.forms__button--content:hover {
  background-color: #0841ac;
}
.forms__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #cacaca;
  font-size: 1.125rem;
}
.invalid {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: #dc3545;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}
span::before {
  content: " *";
  color: red;
}