<div class="body">
    <div class="login">
        <div class="login__container">
            <div class="login__img">
                <img class="login__image" src="../../../assets/img/programmer.png" alt="programmer">
            </div>
            <h2 class="login__title">Inicia sesión</h2>
            <form class="forms" [formGroup]="form" (ngSubmit)="login()">
                <div class="forms__camp">
                    <input type="text" class="forms__input" id="usuario" formControlName="usuario"
                        placeholder="Usuario">
                </div>
                <div class="forms__camp">
                    <input type="password" class="forms__input" id="contraseña" formControlName="contrasena"
                        placeholder="Contraseña">
                    <i class='bx bx-hide forms__icon'></i>
                </div>
                <div class="forms__button">
                    <button type="submit" class="forms__button--content">Ingresar</button>
                </div>
                <div class="forms__href">
                    <a> ¿Olvidaste tu contraseña? </a>
                </div>
            </form>
        </div>
    </div>
</div>