<div class="container-registrar">
    <h4 class="area-title">
        <i class='bx bx-pencil'></i>
        Actualizar Area
    </h4>
    <form action="" class="form" (ngSubmit)="putArea()">
        <div class="form__content">
            <div class="form__camp">
                <label for="nombre" class="form__label">Nombre del Area</label>
                <input type="text" name="nombre" id="nombre" class="form__input" placeholder="Ingresar nombre del Area"
                    [(ngModel)]="objArea.nombre">
            </div>
        </div>
    </form>
    <div class="form__btn">
        <button (click)="cancelar()" class="btn__danger"> <i class="bx bx-x"></i>Cancelar</button>
        <button (click)="putArea()" class="btn__save"> <i class="bx bx-save"></i>
            Actualizar Registro</button>
    </div>
</div>