<div class="listar">
    <h4>Lista de Empleados</h4>
    <div class="listar__content">
        <div class="listar__button">
            <a routerLink="/dashboard/registrar-empleado" class="btn__save">
                <i class="bx bx-plus"></i>
                Nuevo Empleado
            </a>
            <button type="button" class="btn__export" data-bs-toggle="modal" data-bs-target="#exportModal">
                <i class="bx bx-export"></i>
                Actualizar empleados por excel
            </button>
        </div>

        <div class="listar__content-table">
            <div class="size">
                <!-- <div class="listar__size--page">
                    <p>Mostrar</p>
                    <a (click)="sort()" class="sort">
                        <i class='bx bxs-sort-alt'></i>
                    </a>
                    <p>registros</p>
                </div> -->
                <form class="listar__buscar" (ngSubmit)="getEmpleadoByParams()">
                    <input type="text" class="listar__buscar--input" id="buscar" placeholder="searching" name="name"
                        [(ngModel)]="nombre">
                </form>
            </div>
            <table class="listar__table">
                <thead class="listar__thead">
                    <tr>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>DNI</th>
                        <th>Area</th>
                        <th>Cargo</th>
                        <th>Renumeración</th>
                        <th>F. de Creación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="listar__tbody">
                    <tr *ngFor=" let e of empleados">
                        <td>{{e.idEmpleado}}</td>
                        <!-- <td>
                            <img *ngIf="e?.foto" src="http://localhost:8090/api/empleado/uploads/img/{{e.foto}}"
                                alt="{{e.foto}}" class="listar__perfil" />
                            <img *ngIf="!e?.foto" src="http://localhost:8090/images/user.png" alt="sin foto"
                                class="listar__perfil" />
                        </td> -->
                        <td>{{e.nombre}} {{e.apellido}} </td>
                        <td>{{e.dni}}</td>
                        <td>{{e.area!.nombre}}</td>
                        <td>{{e.cargo!.nombre}}</td>
                        <td>S/.{{e.tarifa_hora}}.00</td>
                        <td>{{e.fechaRegistro | date:"dd-MM-yyyy"}}</td>
                        <td>
                            {{e.estado === 1 ? 'Activo' : 'Inactivo'}}
                        </td>
                        <td>
                            <div class="listar__acciones">
                                <a [routerLink]="['/dashboard/editar-empleado/',e.idEmpleado]"
                                    class="listar__action-buttons">
                                    <i class="bx bx-edit"></i>
                                </a>
                                <a [routerLink]="['/dashboard/detalle-empleado/', e.idEmpleado]"
                                    class="listar__action-buttons">
                                    <i class="bx bx-show"></i>
                                </a>
                                <button type="button" class="listar__action-buttons">
                                    <i class="bx bx-trash"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="pagination">
                <a (click)="rewind()" class="previus">
                    <i class='bx bx-first-page'></i>
                </a>
                <a (click)="forward()" class="next">
                    <i class='bx bx-last-page'></i>

                </a>
            </div> -->
        </div>
    </div>
</div>
<!-- Modal Actualizar-->
<div class="modal fade" id="actualizarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Empleado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <i class="bx bx-x"
                        id="btn__act--cerrar"></i>Cerrar</button>
                <!-- <button (click)="putEmpleado()" class="btn btn-success"> <i class="bx bx-save"></i>Actualizar</button> -->
            </div>
        </div>
    </div>
</div>
<!--EXPORT AND IMPORT MODAL-->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <i class="bx bx-upload"></i> Cargar Empleado
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form__export">
                        <div class="form__file">
                            <i class="bx bx-file"></i>
                            <a (click)="exportExcel()">Exportar Empleados Ingresados al sistema</a>
                        </div>
                        <div class="form__camp">
                            <label for="file" class="form__label">Archivo de excel</label>
                            <input type="file" class="form__input" name="file" id="file" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn__save">Subir Archivo</button>
            </div>
        </div>
    </div>
</div>