.header {
  position: relative;
  top: 0;
  left: 240px;
  width: calc(100% - 240px);
  padding: 0 2rem 0 1rem;
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
.header__content .avatar__image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(55px + 0.3125rem);
}
.avatar__image {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__name {
  font-size: 0.875rem;
  color: var(--black-color);
}
.header__name i {
  color: var(--text-color-light);
}
.header__menu {
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--black--color);
}

.nav__dropdown-content {
  position: absolute;
  top: 45px;
  right: 20px;
  padding: 0.5rem 0;
  background-color: var(--panel-color);
  border-radius: 0.35rem;
  border: 1px solid var(--border-color);
  z-index: 1000;
  text-align: left;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  visibility: hidden;
  opacity: 0;
}
.nav__dropdown-item {
  display: block;
  width: 180px;
  font-size: 0.875rem;
  color: var(--black-color);
  padding: 0.25rem 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.nav__dropdown-item:nth-child(4) {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.nav__dropdown-item:hover {
  background-color: var(--text-color-hover);
}
.nav__dropdown-item i {
  margin-right: 0.5rem;
  color: var(--black-light-color);
}
.dropdown .nav__dropdown-content.active {
  visibility: visible;
  opacity: 1;
}
hr {
  margin: 0;
  border-width: 1px;
}
