<header class="header">
    <div class="header__content">
        <div>
            <a class="header__menu">
                <i class="bx bx-menu" id="toggle-menu"></i>
            </a>
        </div>
        <ul>
            <div class="dropdown">
                <li class="nav-item dropdown-items">
                    <a (click)="menuToggle()" class="nav-link avatar__image">
                        <span class="header__name">Raul Quispe Diaz</span>
                        <i class="bx bx-chevron-down"></i>
                    </a>
                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a class="nav__dropdown-item">
                                <i class="bx bx-user"></i>
                                Mis Datos</a>
                            <a class="nav__dropdown-item">
                                <i class='bx bx-refresh'></i>
                                Configuracion</a>
                            <hr>
                            <a (click)="logout()" class="nav__dropdown-item">
                                <i class='bx bx-log-out'></i>
                                Logout</a>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</header>