@import "/src/styles.css";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  padding: 10px 14px;
  background-color: var(--primary-color);
  border-right: 1px solid var(--border-color);
  /* box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15); */
  z-index: 1;
}
.sidebar__container::-webkit-scrollbar {
  display: none; /* chrome and others browsers*/
}
.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  scrollbar-width: none; /* mozilla*/
}
.sidebar .logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
.sidebar .logo-image img {
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar .logo-name .logo_name {
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  color: var(--panel-color);
  margin-left: 0.875rem;
}
.menu-items {
  margin-top: 60px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li .nav__link {
  display: flex;
  align-items: center;
  height: 70px;
  cursor: pointer;
}
.menu-items li .nav__link .nav__icon {
  font-size: 18px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--panel-color);
}
.nav-links li .nav__link:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.menu-items li .nav__link .nav__name {
  font-size: 16px;
  font-weight: 400;
  color: var(--panel-color);
}
.nav-links li .nav__link:hover .nav__icon,
.nav-links li .nav__link:hover .nav__name {
  color: var(--white--color-light);
}
.nav__dropdown {
  overflow: hidden;
  max-height: 70px;
  transition: 0.3s ease-in-out;
}
.nav__dropdown-collapse {
  background-color: var(--panel-color);
  border-radius: 0.25rem;
  margin: 0.5rem 0.9375rem 0 0.9375rem;
}
.nav__dropdown-content {
  display: grid;
  row-gap: 1rem;
  padding: 0.75rem 0 0.75rem 2.5rem;
}
.nav__dropdown-item {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black-color);
}
.nav__dropdown-item:hover {
  color: var(--primary-color);
}
.nav__dropdown-icon {
  margin-left: auto;
  transition: 0.3s;
}
.nav__dropdown:hover {
  max-height: 100rem;
}
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}
