.page-nav {

  padding: 1rem 0 0 0;
}
.previus,
.next,
.sort {
  font-size: 1.875rem;
  cursor: pointer;
  color: var(--black-light-color);
  transition: 0.3s ease-in-out;
  line-height: 0;
}
.previus:hover {
  color: var(--primary-color);
}
.next:hover {
  color: var(--primary-color);
}
